#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# see FEATURE AREAS in dpkg-buildflags(1)
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed


%:
	dh $@

override_dh_clean:
	dh_clean
	rm -f */Makefile tools/win/config.{cache,log,status} tools/win/Makefile tools/win/configure

override_dh_install:
	dh_install
	cd Doc && tar -czhf ../debian/wily/usr/share/doc/wily/tute.tar.gz tute
	# Doesn't exist in current tarball, but was part of earlier packaging
	#cd misc && tar -czhf ../debian/wily/usr/share/doc/wily/wily.tar.gz wily

override_dh_auto_build:
	dh_auto_build
	cd tools/win && autoreconf && ./configure --prefix=/usr --cache-file=../../config.cache
	cd tools/win && make
